<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>${project.artifactId} ${project.version}</display-name>

	<filter>
		<filter-name>cross-origin</filter-name>
		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
		<init-param>
			<param-name>allowedOrigins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>allowedMethods</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>allowedHeaders</param-name>
			<param-value>*</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>cross-origin</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Data</servlet-name>
		<servlet-class>org.moten.david.log.ui.DataServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Keys</servlet-name>
		<servlet-class>org.moten.david.log.ui.KeysServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Load</servlet-name>
		<servlet-class>org.moten.david.log.ui.LoadServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Log</servlet-name>
		<servlet-class>org.moten.david.log.ui.LogServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Log</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Load</servlet-name>
		<url-pattern>/load</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Keys</servlet-name>
		<url-pattern>/keys</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

</web-app>
